<div id="title">
  <h1>Your Dashboard</h1>
</div>

<h2 class="welcome-back">Welcome back {{username}}!</h2>
<h2 class="welcome-back">Your posts:</h2>

<div id="body">
  {{#each posts as |post|}}

    <div id="post-card">
      <header id="post-header">
        <h2><a href="/post/update/{{post.id}}" class="edit-post">{{post.title}}</a></h2>
        <p id="posted-by">Posted by
          {{post.user.username}}
          on
          {{format_date post.date_created}}</p>
      </header>
      <p id="post-body">{{post.body}}</p>
    </div>

  {{/each}}
</div>

<div class="floating-button-div">
  <a href="/post" class="floating-button">+ Create new post</a>
</div>