<div id="title">
  <h1>The Tech Blog</h1>
</div>

<div id="body">
  {{#each posts as |post|}}

    <div id="post-card">
      <header id="post-header">
        <h2><a href="/post/{{post.id}}" class="edit-post">{{post.title}}</a></h2>
        
        <p id="posted-by">Posted by
          {{post.user.username}}
          on
          {{format_date post.date_created}}</p>
      </header>
      <p id="post-body">{{post.body}}</p>
    </div>

  {{/each}}
</div>